*{
	box-sizing: border-box;
	margin: 0;
    padding: 0;
}

*::selection{
	background-color: gold;
}

html{
	font-size: 10px;
	font-family: 'Bebas Neue', cursive;

}

body{
	
}

#top{
	
}

.nav_bar{
	background-color: #466995;
	border-bottom: 1px solid #466995;
	position: sticky;
	width: 100%;
	z-index: 10;	

}

.nav_bar ul{
	margin: 0 auto;
	padding: 0 10px;
	justify-content: space-evenly;
	display: flex;
}

.nav_bar ul li{
	color: #FFF;
	font-family: 'Lobster', cursive;
	font-size: 36px;
	font-weight: 400;
	display: inline-block;
	padding:20px; 
	
}

a{
	text-decoration: none;
	color: white;
	text-shadow: #000 1px 0 10px;
}

span{
	font-size: 45px;
}

#header{
	position: relative;
    top: 2rem;
    text-align: center;
	font-size: 64px;
	text-decoration: underline;

}

#content{
	margin-top: 40px;
}

.section{

}

.presentation{
	font-size: 32px;
	text-decoration: underline;
}

.table{
	margin: 10px auto;
	border: 1px solid black;
	font-size: 28px;
	text-align: center;
	font-family: 'Fuzzy Bubbles', cursive;
	width:80%;
}

#th{
	
}

#tb{
	
}

#tf td{
	border-bottom: none !important;
}

th, td{
    border-bottom: 1px solid black;
	padding: 5px;

}

td:not([scope]), th[scope="col"]{
	border-left: 1px solid black;
}

.table_button{
    background-color: rgba(50, 250, 50, 0.75);
    border: none;
    color: rgba(255, 255, 225, 1);
    font-family: 'Bebas Neue', cursive;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    font-weight: 600;
    border-radius: 5%;
	font-size: 35px;
}

.table_button:hover{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.table_button.blue{
	background-color: rgba(10, 100, 255, 0.6); ;
}

footer{
	background-color: white;
	position: fixed;
	bottom: 0;
	width: 100%;
	font-size: 24px;
	border-top: 1px solid black;
	padding: 10px;
	margin-top: 20px;
}